{# Stable raster URLs support search crawlers; SVG stays sharp in modern browsers. #}
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicon-192.png') }}">
<link rel="icon" type="image/svg+xml" sizes="any" href="{{ url_for('static', filename='img/logo.svg', v='20261009a') }}">
<link rel="shortcut icon" href="{{ url_for('public_seo.favicon') }}" type="image/vnd.microsoft.icon">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
